/* Font - size */

$xsmall: 0.750em;
$small: 0.875em;
$medium: 1.125em;
$large: 1.500em;
$xlarge: 2.000em;
$epic: 3.000em;
$jumbo: 4.000em;

/* Font - family */

$basic: 'Oswald', sans-serif;

/* Theme - colors */

$green: #86C232;
$dark-green: #61892F;

$black: #222629;
$white: #ebebeb;

$gray: #6B6E70;
$dark-gray: #474B4F;
