/* Font - size */

$xsmall: 0.750em;
$small: 0.875em;
$medium: 1.125em;
$large: 1.500em;
$xlarge: 2.000em;
$epic: 3.000em;
$jumbo: 4.000em;

/* Font - family */

$basic: 'Raleway', sans-serif;

/* Theme - colors */

$orange: rgb(189, 115, 68);
$red: rgb(168, 41, 60);
$purple: rgb(88, 46, 68);
$olive: rgb(142, 122, 61);
$yellow: rgb(215, 185, 87);
$black: rgba(26, 36, 45, 0.9);
